/*navigation*/
nav{
	background-color: darkred;
	display: flex;
	justify-content: space-between;
	font-family: 'NowAltThin';
	position: fixed;
	width: 100%;
	padding-bottom: .5rem;
}



a{
	text-decoration: none;
	color:white;
}


nav h2{
	display: inline-block;
	padding: 1.5rem 2rem;
	font-size: 1.5rem;
}

#artists{
	display: none;
}

.artist-drop{
	display: none;
}

nav > div > h1 > a{
	color: white;
}

.artist-drop > li > a{
	color: white;
}

.name{
	position:absolute;
	right: 0;
	font-family: 'NowAltLight';
}

.nav2{
		display: none;
}



/*main body*/
.main{
	text-align: center;
	padding-top: 40%;
}


.main h1{
	font-family: 'NowAltLight';
	color: darkred;
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 10rem;
}

.gallery{
	margin: auto;
}

.gallery img{
	max-width: 90%;
	margin-bottom: 8rem;
}

.gallery2{
	display: none;
}

/*scroll to top button*/

h2.top{

	display: inline-block;
	margin: auto;
	font-family: 'NowAltLight';
	color: darkred;
	/*background-color: darkred;*/
	/*border-radius: 50%;*/
	padding: .5rem 1rem;
	margin-bottom: 4rem;
	cursor: pointer;
}


.top1{
	position: absolute;
	top: 2.8rem;
	cursor: pointer;
	margin-bottom: 1rem;
}

.nav1 > div > .top{
	color: white;
	font-family: 'NowAltThin';
	margin: auto;
}



/*footer, duh*/
footer{
	font-family: 'NowAltThin';
	background-color: darkred;
	color:white;
	/*text-align: right;*/
	padding: 1rem;
	margin-top: 0%;
	/*width: 95%;*/
	display: flex;
	justify-content: space-between;
}


#foot{
	/*left: 0;*/
	color: white;
}


@media only screen and (min-width: 650px) {
	
	/*navigation bar*/
	nav{
		text-align: center;
		display: block;
		padding-bottom: 0;
	}
	
	nav h2{
		display: block;
		margin: auto

	}
	
	.artist h2.artists{
		display: block;
		color:white;
		cursor:pointer;	
		border-top: 1px solid white;
		width: 20%;
	}

	.artist-drop{
		text-align: center;
		padding-bottom: 1%;
		color:black;
		background-color: darkred;
	}

	.artist-drop li{
		margin-bottom: 2%; 
	}


	/*body*/

	.main{
		padding-top: 30%;
	}
	.gallery{
		display: flex;
	}

	.container{
		display: inline-block;
	}

	.gallery img{
		margin-bottom: 2rem;
	}

	.nav2{
		display: block;
	}

	.nav1{
		display: none;
	}

	
}

@media only screen and (min-width: 1000px){

	/*navigation*/

	nav{
		position: fixed;
		z-index: 100;
		display: flex;
		justify-content:space-between;
		width: 100%;
		vertical-align: top;
		top: 0;

	}

	.nav2{
		display: flex;
	}

	nav div{
		margin: auto;
	}
	
	.artist h2.artists{
		border-top: 0;
	}

	.artist{
		display: flex;
		flex-flow: row nowrap;
	}

	.artist-drop{
		text-align: left;
		position: absolute;
		margin-top: 4rem;
		padding-left: 1rem;
		list-style: circle;
	}

	.name{
		display: inline-block;
		position:relative;
	}

/*main body changes*/

	.gallery{
		display: none;
	}

	.gallery2{
		display: flex;
		margin: auto;
		justify-content:center;
	}

	.container{

		max-width: 30%;
		margin: 0 5px;
	}

	.container img{
		max-width: 100%;
		margin-bottom: 10px;
	}

	.main{
		padding-top: 10%;
	}



}