
/*nav*/

nav{
	background-color: darkred;
	display: flex;
	justify-content: space-between;
	font-family: 'NowAltThin';
}

a{
	text-decoration: none;
	color:white;
}


nav h1{
	display: inline-block;
	padding: 1.5rem 2rem;
	font-size: 1.5rem;
}

#artists{
	display: none;
}

.artist-drop{
	display: none;
}

nav > div > h1 > a{
	color: white;
}

.artist-drop > li > a{
	color: white;
}



/*body*/
h2{

	font-family: 'NowAltThin';
	font-size: 3rem;
}

.name{
	font-family: 'NowAltRegular';
	font-size: 3rem;
}

a{
	text-decoration: none;
	color: black;
}


.main{
	padding-top: 10%;
	width: 100%;
  	justify-content: center;
  	align-items: center;
  	position: relative;

}

.flex-container{

	position: relative;
	display: block;
	max-width: 35%;
	text-align: center;
	margin: auto;
	margin-bottom: 20%;

}

img{
	max-width: 100%;
}

/*footer*/

footer{
	background-color:darkred;
	font-family: 'NowAltThin';
	position: absolute;
	width: 100%;
	padding: 0;

}

.foot{
	padding-right: 5%;
	color:white;
	text-align: right;
	font-size: 2rem;

}


/*medium screen view*/
@media only screen and (min-width: 850px){

	/*navigation bar*/

	nav{
		text-align: center;
		display: block;
	}
	
	nav h1{
		display: block;
		margin: auto

	}
	
	#artists{
		display: block;
		color:white;
		cursor:pointer;	
		border-top: 1px solid white;
		width: 20%;
	}

	.artist-drop{
		text-align: center;
		padding-bottom: 2%;
		color:black;
	}

	.artist-drop li{
		margin-bottom: 2%; 
	}

	/*body*/
	
	.main{
		display: flex;
		padding-top: 0%;
		padding-bottom: 0%;
	}
	
	#michie{
		margin-top: 20%;
	}

	#ben{
		margin-top: 10.5%;
	}
	
	.flex-container{

		display:inline-block;
		width: 100%;
		margin-bottom: 0;

	}

	img{
		max-width: 60%;
		margin: auto;
		vertical-align: center;
		margin-bottom: -20%;

	}


}

@media only screen and (min-width: 1000px){
	nav{
		position: fixed;
		z-index: 100;
		display: flex;
		justify-content:space-between;
		width: 100%;
		vertical-align: top;
		top: 0;

	}

	nav div{
		margin: auto;
	}
	
	#artists{
		border-top: 0;
	}

	.artist{
		display: flex;
		flex-flow: row nowrap;
	}

	.artist-drop{
		text-align: left;
		position: absolute;
		margin-left: 8rem;
		margin-top: 1rem;
		padding-left: 1rem;
		list-style: circle;
	}

}
